---
layout: default
title: Investor
permalink: /dashboard/investors/detail/
---

{% include components/crumb.html parent="Investors" parent_url="/dashboard/investors/" %}

<link rel="stylesheet" href="/assets/css/investor-tabs.css?v={{ site.time | date: '%s' }}">
<div id="ads-investor-detail-root">
  <div id="ads-investor-detail"><div class="ads-loading">Loading…</div></div>
</div>

{% include components/embedded-news.html table="investors" %}
{% include components/embedded-profile.html table="investors" %}
{% include components/embedded-term-aggressiveness.html %}

<script src="/assets/js/investors.js?v={{ site.time | date: '%s' }}"></script>
<script src="/assets/js/field-edit.js?v={{ site.time | date: '%s' }}"></script>
<script src="/assets/js/citation-pills.js?v={{ site.time | date: '%s' }}" defer></script>
<script>document.addEventListener("DOMContentLoaded", function(){
  if (window.adsRenderInvestorDetail) window.adsRenderInvestorDetail();
});</script>
